<!-- Banner -->
<section id="banner">
  <div class="inner">
    <div class="logo"> 
    	<img class="icon ico-web-dev" src="{{ site.baseurl }}/images/svg/icon-development.svg" alt="Web"></img>
    	<img class="icon ico-mobile" src="{{ site.baseurl }}/images/svg/icon-mobile-apps.svg" 	alt="Mobile"></img>
    	<img class="icon ico-consult" src="{{ site.baseurl }}/images/svg/icon-tech-consulting.svg" alt="Design"></img>
    </div>
    <h2>{{ site.title }}</h2>
    <p>{{ site.description }}</p>
    <p>We are pleased to share our new site design as we work on the finishing touches.</p>
  </div>
</section>